input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
}

.custom-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.checkbox-container:hover input~.custom-checkbox {
    background-color: #e6e6e6;
}

.checkbox-container input:checked~.custom-checkbox {
    background-color: rgba(18, 133, 89, 255);
}

.custom-checkbox:after {
    content: "";
    position: absolute;
}

.checkbox-container input:checked~.custom-checkbox:after {
    display: block;
}

.checkbox-container .custom-checkbox:after {
    left: 11px;
    top: 5px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}