button[type=submit], button[type="button"] {
    min-width: 162px;
    min-height: 50px;
    background-color: rgba(18, 133, 89, 255);
    font: inherit;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 12px 40px;
    text-decoration: none;
    cursor: pointer;
}

.loader {
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-bottom-color: rgba(18, 133, 89, 255);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}