button[type=submit] {
    background-color: rgba(18, 133, 89, 255);
    font: inherit;
    border-radius: 6px;
    border: none;
    color: white;
    margin-top: 28px;
    padding: 12px 40px;
    text-decoration: none;
    cursor: pointer;
}